.task-card {
    margin-top: 10px;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(105, 107, 106);
}

button {
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(24, 196, 153);
    background-color: rgb(24, 196, 153);
    margin-left: 10px;
    padding: 5px; 
    width: 50px;
}
